$color-white: #ffffff;
$color-black-primary: #000000;
$color-black-secondary: #101932;

$color-red: #ac1216;
$color-grey-primary: #a0a3b5;
$color-grey-secondary: #71768e;
$color-grey-secondary-light: #384d70;
$color-grey: rgba(56, 77, 112, 1);
